# *.vcf.gz
# *.vcf.gz.tbi
# *.bam
# *.bai

# mitylib files
mitylib/__pycache__

# pip compile stuff
requirements.txt

# folders
lib/*
*/output/*
bin/*
build/*
dist/*

# other
*DS_Store
*.R
venv
*.iml
.idea
gsort
pyvenv.cfg 
.python-version

# egg
mitylib.egg-info/*
*.egg-info/*

# tests
tests/*

.vscode/

